* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
}


#foto-login {
    width: 50%;
    height: 100vh;
    border: 1px solid red;
    background-image: url('/assets/images/bg-login.jpg');
    background-size: cover;
    filter: grayscale(100%);
    padding: 40px;
}

#formulario-box {
    width:100vh;
    height: 100vh;
}

#formulario-meio {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formulario-textos h1 {
     font-weight: 300;
     margin-bottom: 15px;
}

#formulario-textos p {
    width: 200px;
    color: rgb(104, 104, 104);
}

.input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.input-text {
    height: 45px;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 30px;
    margin-top: 5px;
}

#email {
    background-image: url('/assets/images/envelope-fill.svg');
    background-repeat: no-repeat;
    background-position: center left 10px;
}

#senha {
    background-image: url('/assets/images/key-fill.svg');
    background-repeat: no-repeat;
    background-position: center left 10px;
}

#formulario-lembre  {
    display: flex;
    align-items: center;
}

#formulario-lembre label {
    font-size: 12px;
    margin-left: 5px;
    color: #686868;
}

#formulario-butoes {
    padding: 10px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#formulario-butoes button {
    height: 45px;
    width: 130px;
    border-radius: 8px;
    border: 0;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

#entrar {
    background-color: black !important;
    color: white;
    transition: 400ms;
}

#entrar:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

#registrar {
    border-radius: 0 !important;
    transition: 400ms;
}

#registrar:hover {
    border-bottom: 2px solid black;
}

#formulario-redes-sociais {
    width: 200px;
    text-align: center;
}

#formulario-redes-sociais h3 {
    margin-bottom: 15px;
}

#redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

